<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<h2>WELCOME</h2>

<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="username">Enter username: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" name="password" id="password"/>
    <br/>
    <br/>
    <input type="submit" value="LOGIN"/>
    <br/>
    <br/>

    <div th:if="${param.error}" style="color: red">
        Wrong username or password:
    </div>
</form>

<form th:method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="REGISTRATION"/>
</form>

</body>
</html>