<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (){
        $("#locales").change(function (){
            var selectedOption = $("#locales").val();
            if(selectedOption != ''){
                window.location.replace('?lang='+selectedOption);
            }
        });
    });
</script>
<body>
<li class="login">
    <span th:text="#{login.changeLang}" ></span>
    <select id="locales">
        <option value=""></option>
        <option value="en">English</option>
        <option value="ua">Уераїнська</option>
    </select>
</li>
<h2 th:text="#{login.welcome}"></h2>

<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <label for="username" th:text="#{login.enterName}" >Enter username: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <br/>
    <label for="password" th:text="#{login.enterPassword}" >Enter password: </label>
    <input type="password" name="password" id="password"/>
    <br/>
    <br/>
    <input type="submit" value="LOGIN" th:value="#{login.login}"/>
    <br/>
    <br/>

    <div th:if="${param.error}" style="color: red">
        Wrong username or password:
    </div>
</form>

<form th:method="GET" th:action="@{/auth/registration}">
    <input type="submit" value="REGISTRATION" th:value="#{login.registration}"/>
</form>

</body>
</html>