<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update book</title>
</head>
<body>

<form th:method="PUT" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="name">Введите название: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
  <br/>
  <label for="yearOfRealise">Введите год выхода: </label>
  <input type="text" th:field="*{yearOfRealise}" id="yearOfRealise"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfRealise')}" th:errors="*{yearOfRealise}">yearOfRealise
    Error
  </div>
  <br/>
  <label for="author">Введите автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>
  <br/>
  <input type="submit" value="Обновить!"/>
</form>

</body>
</html>