<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()}">VALUE</p>


<div th:if="${books.isEmpty()}">
    <p>The man hasn't picked up any books yet</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Books:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfRealise()}">book</tr>
        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
            <input type="submit" value="Delete"/>
        </form>
    </table>
    <hr/>

<!--    <table th:each="book : ${books}">-->
<!--        <a th:href="@{/books/{id}(id=${book.getId()})}">-->
<!--            <tr th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfRealise()}">book</tr></a>-->
<!--    </table>-->

</div>
</body>

<form th:method="GET" th:action="@{/books/new}">
    <input type="submit" value="Create a new book"/>
</form>

<form th:method="GET" th:action="@{/}">
    <input type="submit" value="Return"/>
</form>

</body>
</html>