<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $("#locales").val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

<body>

<section class="section">

    <div class="wrapperWindow">

        <div class="formWindow">

            <h1 class="midlTextLeft" th:text="#{show.bookService} + ' ' + ${person.getName()}"></h1>
            <line class="line"></line>

            <div th:if="${books.isEmpty()}">
                <h3 class="midlTextLeft" th:text="#{show.ifNull}"></h3>
            </div>

            <div th:if="${!books.isEmpty()}">
                <h1 class="midlTextLeft" th:text="#{show.yourBooks}"></h1>

                <div th:each="book, iterStat: ${books}">

                    <div style="display: inline-block" class="smallText"
                         th:text="${(iterStat.index + 1) + '. ' +book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfRealise()}">
                    </div>
                    <div style="display: inline-block">
                        <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
                            <input class="smallButtonGreen" type="submit" th:value="#{show.edit}"/>
                        </form>
                    </div>
                    <div style="display: inline-block">
                        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
                            <input class="smallButtonRed" type="submit" th:value="#{show.delete}"/>
                        </form>
                    </div>

                </div>
            </div>

            <line class="line"></line>

            <h2 class="midlTextLeft" th:text="#{show.createNew}"></h2>

            <form th:method="POST" th:action="@{/books/{id}(id=${person.getId()})}" th:object="${book}">

                <div class="col-50">
                    <label class="midlText" for="name" th:text="#{show.bookName}"></label>
                </div>
                <div class="col-50">
                    <input class="formForText" type="text" th:field="*{name}" id="name"/>
                    <div class="warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</div>
                </div>

                <div class="col-50">
                    <label class="midlText" for="yearOfRealise" th:text="#{show.year}"></label>
                </div>
                <div class="col-50">
                    <input class="formForText" type="text" th:field="*{yearOfRealise}" id="yearOfRealise"/>
                    <div class="warning" th:if="${#fields.hasErrors('yearOfRealise')}" th:errors="*{yearOfRealise}">
                        yearOfRealise Error
                    </div>
                </div>

                <div class="col-50">
                    <label class="midlText" for="author" th:text="#{show.author}"></label>
                </div>
                <div class="col-50">
                    <input class="formForText" type="text" th:field="*{author}" id="author"/>
                    <div class="warning" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author Error</div>
                </div>

                <input class="leftButton" type="submit" th:value="#{show.create}"/>
            </form>

            <line class="line"></line>

            <form th:method="POST" th:action="@{/logout}">
                <input class="bigButton" type="submit" th:value="#{logout}"/>
            </form>

        </div>
    </div>
</section>
</body>
</html>