/*.loginBackground {*/
/*    position: center;*/
/*    background-image: url(images/loginBackground.jpeg);*/
/*}*/

.loginWelcome {
    position: center;

    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 51.4844px;
    line-height: 67px;

    text-align: center;
    letter-spacing: 0.2em;

    color: #2A4A63;

    text-shadow: 0px 3.21778px 3.21778px rgba(0, 0, 0, 0.15);
}