<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/css/reset.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $("#locales").val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

<body>

<section class="section">

    <div class="wrapperWindow">

        <div class="formWindow">

            <h2 class="midlTextLeft" th:text="#{admin.title} + ' ' + ${person.getName()}"></h2>
            <line class="line"></line>

            <ul class="pagination">
                <li style="display: inline-block" th:unless="${currentPage >= totalPages}">
                    <a th:href="@{/admin/{id}(id=${person.getId()}, page=${currentPage + 1})}" aria-label="Next"
                       style="text-decoration: none">
                        <span class="smallButtonGreenMore" aria-hidden="true"><<</span>
                    </a>
                </li>
                <li style="display: inline-block" th:if="${currentPage > 1}">
                    <a th:href="@{/admin/{id}(id=${person.getId()},page=${currentPage - 1})}"
                       aria-label="Previous" style="text-decoration: none">
                        <span class="smallButtonGreenMore" aria-hidden="true">>></span>
                    </a>
                </li>
            </ul>


            <div th:each="person, iterStat : ${people}">


                <div class="smallText" style="display: inline-block"
                     th:href="@{/people/{id}(id=${person.getId()})}"
                     th:text="${(iterStat.index + start + 1) + '. ' + person.getName()}">user
                </div>


                <div style="display: inline-block" th:if="${person.getRole().equals('ROLE_USER')}">
                    <form style="display: inline-block" th:method="PATCH"
                          th:action="@{/admin/{id}(id=${person.getId()})}">
                        <input class="smallButtonGreen" type="submit" th:value="#{admin.makeAdmin}"/>
                    </form>
                </div>
                <div style="display: inline-block" th:if="${person.getRole().equals('ROLE_ADMIN')}">
                    <form style="display: inline-block" th:method="PATCH"
                          th:action="@{/admin/{id}(id=${person.getId()})}">
                        <input class="smallButtonGreen" type="submit" th:value="#{admin.makeUser}"/>
                    </form>
                </div>

                <div style="display: inline-block" th:if="${person.isBlock() == true}">
                    <form style="display: inline-block" th:method="PATCH"
                          th:action="@{/block/{id}(id=${person.getId()})}">
                        <input class="smallButtonRed" type="submit" th:value="#{admin.unblockUser}"/>
                    </form>
                </div>
                <div style="display: inline-block" th:if="${person.isBlock() == false}">
                    <form style="display: inline-block" th:method="PATCH"
                          th:action="@{/block/{id}(id=${person.getId()})}">
                        <input class="smallButtonRed" type="submit" th:value="#{admin.blockUser}"/>
                    </form>
                </div>
            </div>

            <line class="line"></line>

            <form th:action="@{/people/{id}(id=${person.getId()})}" th:method="GET">
                <input class="bigButton" type="submit" th:value="#{admin.toBook}">
            </form>

            <form th:action="@{/logout}" th:method="POST">
                <input class="bigButton" type="submit" th:value="#{logout}">
            </form>

        </div>
    </div>
</section>
</body>
</html>