<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $("#locales").val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>

<body>

<div>
    <span th:text="#{login.changeLang}"></span>
    <select id="locales">
        <option value=""></option>
        <option value="en">English</option>
        <option value="ua">Українська</option>
    </select>
</div>

<br/>
<b th:text="#{admin.title}"></b>
<br/>
<br/>
<hr/>
<br/>
<div th:each="person, iterStat : ${people}">

    <div style="display: inline-block" th:href="@{/people/{id}(id=${person.getId()})}"
         th:text="${(iterStat.index + 1) + '. ' + person.getName()}">user
    </div>
    <div style="display: inline-block" th:if="${person.getRole().equals('ROLE_USER')}">
        <form style="display: inline-block" th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}">
            <input type="submit" th:value="#{admin.makeAdmin}" style="color: darkgreen"/>
        </form>
    </div>
    <div style="display: inline-block" th:if="${person.getRole().equals('ROLE_ADMIN')}">
        <form style="display: inline-block" th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}">
            <input type="submit" th:value="#{admin.makeUser}" style="color: darkgreen"/>
        </form>
    </div>
    <div style="display: inline-block" th:if="${person.isBlock() == true}">
        <form style="display: inline-block" th:method="PATCH" th:action="@{/block/{id}(id=${person.getId()})}">
            <input type="submit" th:value="#{admin.unblockUser}" style="color: darkred"/>
        </form>
    </div>

    <div style="display: inline-block" th:if="${person.isBlock() == false}">

        <form style="display: inline-block" th:method="PATCH" th:action="@{/block/{id}(id=${person.getId()})}">
            <input type="submit" th:value="#{admin.blockUser}" style="color: darkred"/>
        </form>
    </div>
</div>

<br/>
<hr/>
<br/>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" th:value="#{logout}">
</form>
<form th:action="@{/people/{id}(id=${person.getId()})}" th:method="GET">
    <input type="submit" th:value="#{logout}">
</form>

</body>
</html>