<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<!--<link href="css/main.css" rel="stylesheet" type="text/css">-->

<body>

<br/>
<b>ALL PERSON:</b>
<br/>
<br/>
<hr/>
<br/>
<div th:each="person, iterStat : ${people}">

    <div style="display: inline-block" th:href="@{/people/{id}(id=${person.getId()})}"
        th:text="${(iterStat.index + 1) + '. ' + person.getName()}">user
    </div>
    <div style="display: inline-block" th:if="${person.getRole().equals('ROLE_USER')}">
        <form style="display: inline-block"  th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}">
            <input type="submit" value="MAKE ADMIN" style="color: darkgreen"/>
        </form>
    </div>
    <div style="display: inline-block" th:if="${person.getRole().equals('ROLE_ADMIN')}">
        <form style="display: inline-block" th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}">
            <input type="submit" value="MAKE USER" style="color: darkgreen"/>
        </form>
    </div>
    <div style="display: inline-block" th:if="${person.isBlock() == true}">
        <form style="display: inline-block" th:method="PATCH" th:action="@{/block/{id}(id=${person.getId()})}">
            <input type="submit" value="UNBLOCK USER" style="color: darkred"/>
        </form>
    </div>

    <div style="display: inline-block" th:if="${person.isBlock() == false}">

    <form style="display: inline-block" th:method="PATCH" th:action="@{/block/{id}(id=${person.getId()})}">
        <input type="submit" value="BLOCK USER" style="color: darkred"/>
    </form>
    </div>
</div>

<br/>
<hr/>
<br/>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>