<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<h3>Good afternoon,
    welcome to "Book service"!</h3>
A place to describe the application...
<br/>
<br/>

<div th:each="person : ${people}">
    <a th:href="@{people/{id}(id=${person.getId()})}"
       th:text="${person.getName()}">user</a>
</div>

<br/>
<hr/>
<br/>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="LOGOUT">
</form>

</body>
</html>